@model Persona

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Victor Carmona @Model.Nombre (@Model.Edad)</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript.</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto de Victor"/>
</div>
