@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Soy Victor Carmona</h1>

    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript.</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto de Victor"/>
</div>

<div class="text-center">
    <img id="imagen-net" src="~/imagenes/logoNET.png" alt="net logo"/>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software profesionalmente desde 2018. He tenido el privilegio
            de trabajar para una empresa donde tuve la oportunidad de realizar proyectos para 
            empresas como Randstad y Banco Santander. Todo esto trabajando principalmente aplicaciones
            de C#/ASP.NET, ORACLE, SQL Server, Entity Framework, JavaScript, Angular, entre otros.
        </p>
    </div>
</div>
